name: slack-notification

on: [push]

env:
  github_org: 'angel-one'
  ansible_action_repo_tag: 4
  PY_COLORS: '1'
  ANSIBLE_FORCE_COLOR: '1'

jobs:
  slack-notifications:
    runs-on: ubuntu-latest
    name: Sends a message to Slack when a push, a pull request or an issue is made
    steps:    
      - name: Clone Self
        uses: actions/checkout@v2

      - name: Run a multi-line script
        run: |
          mkdir ../build
          cp -TR . ../build
          tar -cvf deploy.tar ../build/

      - name: copy file via ssh password
        uses: appleboy/scp-action@master
        with:
          host: "192.168.116.122"
          username: ubuntu
          key: ${{ secrets.SSH_EC2_USER }}
          source: "deploy.tar"
          target: "/home/"

 